* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    font-family: 'Inter';
    color: #fff;
}

body {
    background-color: #34361D;
}

#input-sec {
    display: flex;
    flex-wrap: wrap;
    height: 100vh; 
    width: 30%; 
    align-items: center;
    text-align: center;
    /* set position to default and margin left of .block-sec to 0, if
    you want the input field to not be fixed */
    position: fixed;
    background-color: #750BD2 ;
}

#input-sec form {
    width: 100%;
    height: 35vh;
    background-color: #6509B5;
}

#input-sec input[type=text] {
    height: 35px;
    padding: 7px;
    margin-top: 30px;
    width: 50%;
    border-radius: 40px;
    font-family: 'Inter';
    border: none;
}

#input-sec button {
    width: 50%;
    margin-top: 10px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-family: 'Inter';
    cursor: pointer;
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    margin-top: 30px;
}

div.block {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100px;
    background-color: #25605C;
}

p.block-num {
    display: flex;
    width: 75px;
    height: 75px;
    background-color: #09B5AA;
    border-radius: 50%;
    color: #fff;;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.6rem;
}

.block-sec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 50px 30%;
}
